#father{
    margin: 0px;
    padding: 10px;
    height: 300px;
    width: 300px;
    border: 2px dashed red;
}

a{
    background: antiquewhite;
    height: 100px;
    width: 100px;
    text-decoration: none;
    display: block;
    line-height: 100px;
    text-align: center;
    color: aquamarine;
}

a:hover{
    background: blue;
}

.son2{
    position: relative;
    left: 200px;
    top: -100px
}
.son3{
    position: relative;
    left: 100px;
    top: -100px
}

.son4{
    position: relative;
    left: 0px;
    top: -100px
}

.son5{
    position: relative;
    left: 200px;
    top: -200px
}